<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Ebook System</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>register.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/lib/c.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>editbooks</display-name>
    <servlet-name>editbooks</servlet-name>
    <servlet-class>com.admin.servlet.EditBooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editbooks</servlet-name>
    <url-pattern>/editbooks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editBooks</display-name>
    <servlet-name>editBooks</servlet-name>
    <servlet-class>com.admin.servlet.EditBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editBooks</servlet-name>
    <url-pattern>/editBooks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BooksDeleteServlet</display-name>
    <servlet-name>BooksDeleteServlet</servlet-name>
    <servlet-class>com.admin.servlet.BooksDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BooksDeleteServlet</servlet-name>
    <url-pattern>/BooksDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.user.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.entity.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cart_Servlet</display-name>
    <servlet-name>Cart_Servlet</servlet-name>
    <servlet-class>com.entity.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cart_Servlet</servlet-name>
    <url-pattern>/Cart_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveBookCart</display-name>
    <servlet-name>RemoveBookCart</servlet-name>
    <servlet-class>com.user.servlet.RemoveBookCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveBookCart</servlet-name>
    <url-pattern>/RemoveBookCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddOldBook</display-name>
    <servlet-name>AddOldBook</servlet-name>
    <servlet-class>com.user.servlet.AddOldBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOldBook</servlet-name>
    <url-pattern>/AddOldBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteOldBook</display-name>
    <servlet-name>DeleteOldBook</servlet-name>
    <servlet-class>com.user.servlet.DeleteOldBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOldBook</servlet-name>
    <url-pattern>/DeleteOldBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePorfileServlet</display-name>
    <servlet-name>UpdatePorfileServlet</servlet-name>
    <servlet-class>com.user.servlet.UpdatePorfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePorfileServlet</servlet-name>
    <url-pattern>/UpdatePorfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OderServlet</display-name>
    <servlet-name>OderServlet</servlet-name>
    <servlet-class>com.user.servlet.OderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OderServlet</servlet-name>
    <url-pattern>/OderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Book_Order</display-name>
    <servlet-name>Book_Order</servlet-name>
    <servlet-class>com.entity.Book_Order</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Book_Order</servlet-name>
    <url-pattern>/Book_Order</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBook</display-name>
    <servlet-name>SearchBook</servlet-name>
    <servlet-class>com.user.servlet.SearchBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBook</servlet-name>
    <url-pattern>/SearchBook</url-pattern>
  </servlet-mapping>
</web-app>